<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>98</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>97</string>
					<key>Timestamp</key>
					<string>733671821.102057</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GitHubFollowers/Screens/FollowerListVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>         Task {
</string>
				<key>leading</key>
				<string>
        /*
</string>
				<key>trailing</key>
				<string>             guard let followers = try? await NetworkManager.shared.getFollowers(for: username, page: page) else {
                 presentDefaultError()
                 dismissLoadingView()
</string>
			</dict>
			<key>title</key>
			<string>If there is no need to know about specific error type</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>111</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>110</string>
					<key>Timestamp</key>
					<string>733671821.1020271</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GitHubFollowers/Screens/FollowerListVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        NetworkManager.shared.getFollowers(for: username, page: page) { [weak self] result in
</string>
				<key>leading</key>
				<string>
        /*
</string>
				<key>trailing</key>
				<string>            guard let self = self else { return }
            dismissLoadingView()

</string>
			</dict>
			<key>title</key>
			<string>Old way using completion handler</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>202</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>202</string>
					<key>Timestamp</key>
					<string>733671713.7368881</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GitHubFollowers/Managers/NetworkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>     */
}
</string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>title</key>
			<string>Old way of making network calls using completion handler</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>49</string>
					<key>EndingLineNumber</key>
					<string>9</string>
					<key>StartingColumnNumber</key>
					<string>49</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>733673007.181356</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GitHubFollowers/Extensions/Date+Ext.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    
    /*
    func convertToMonthYearFormat() -&gt; String {</string>
				<key>trailing</key>
				<string>
        let dateFormatter = DateFormatter()
        dateFormatter.dateFormat = "MMM yyyy"
</string>
			</dict>
			<key>title</key>
			<string>Old converter. Before iOS 15</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
